$green: rgb(74, 165, 62);
$primary: #304560;
$secondary: rgb(30, 190, 137);
$btn-primary: rgb(177, 177, 177);
$font-primary: 'helvetica';
$border-radius: 2px; 
$transition-primary: 350ms all;
$gutter-lg: 5%;
$gutter-sm: $gutter-lg / 2;
$border-radius: 3px;
$black: #111;
$white: #eee;
